/*
font-family: 'Pacifico', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Staatliches', cursive;
*/

body {
  background: rgb(29, 29, 29);
}

#green-title {
  color: #35f786;
}

#red-title {
  color: #ee5f5f;
}

#trust-bar {
  text-align: left;
}

#clickbank {
  text-align: left;
}

#title-icon {
  color: #fff;
}

.title-text {
  color: #fff;
  font-weight: bold;
}

#nav-icon {
  color: #fff;
  margin-right: .5rem;
}

li.active {
  background-color: rgb(138, 138, 138);
  border-radius: 10px;
}

.sidebar {
  margin: 20px;
}

form {
  width: auto;
}

.btn-primary {
  background-color: #0cbedd;
}